@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333;
  line-height: 1.5;
  font-size: 18px;
}

a,
a:hover {
  color: rgb(0,0, 255);
  text-decoration: none;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: none;
  height: 1px;
  border: 0;
  /* border-top: 1px solid #ccc; */
  margin: 1rem 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  width: 100%;
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

blockquote {
  margin-left: 1rem;
  font-style: italic;
  font-size: 1.4rem;
  font-family: 'Source Serif Pro', serif;
  border-left: 3px solid;
  border-color: rgb(0,0, 255);
  padding-left: 20px;
}

blockquote cite {
  font-size: 70%;
  opacity: 0.8;
}
span {
    display: block;
}

a,
a:hover {
  color: rgb(0,0, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/*a {
  color: #333;
  text-decoration: underline;
}

a:hover {
  color: #a00;
}
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  color: #330;
  font-weight: 100;
  margin-bottom: 15px;
  margin-top: 20px;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  /*font-size: 1.2rem;*/
  font-size: 1.6rem;
  font-weight: bolder;

}

h5 {
  font-weight: 300;
  font-size: 1rem;
}

h6 {
  font-weight: 300;
  font-size: 0.9rem;
}

.container {
  max-width: 800px;
}

ul {
  padding-left: 15px;
}

ul.flat {
  margin: 0;
  padding: 0;
}

ul.flat li {
  display: inline-block;
  list-style: none;
  margin-left: 0;
}

.prevent-collapse {
  min-height: 0.1rem;
}

.page-title {
  margin: 0;
}

.smaller {
  font-size: 70%;
}

ul {
  list-style: disc inside;
}

.introduction ul li {
  margin-bottom: 10px;
}

.introduction ul li p {
  display: inline;
}

.highlight pre {
  margin-bottom: 0;
  margin-top: 0;
  padding: 20px;
  background-color: #fafafa !important;
}

.highlight {
  background: 0 0;
}

.wrapper {
  max-width: 760px;
  margin: 0 auto;
}

.container {
  margin-top: 50px;
}

.header {
  margin-bottom: 20px;
  /* padding-bottom: 20px; */
}

.profile_image {
  display: block;
  margin-left: auto;
  margin-right: 1em;
  /*max-width: 30%;*/
  width: 228px;
  height: 228px;
  border-radius: 50%;
  margin-bottom: 1cm;
   float: right;
   flex-shrink: 0;

}

.profile_image_small {
  display: none;
  border-radius: 50%;
  margin: 0 auto;
  width: 35%;

}

.header-container {
  display: flex;
}

.header h1,
.header h2 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  line-height: 1.3em;
  font-family: "Open Sans", sans-serif;
}

.header h1 {
  margin-top: .3em;
}

.header h2 {
  font-size: 1.125rem;
}

.header nav {
  margin-top: 20px;
  /*border-top: 1px solid #f4f4f4;*/
}

.header nav ul,
.header nav li {
  margin: 0;
}

.header nav ul.flat {
  padding: 0;
}

.header nav ul.flat li {
  display: inline-block;
  list-style: none;
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
  text-transform: capitalize;
}

.header .site-affilation {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}

.header .site-affilation .email {
  /* color: #a00; */
  font-size: 20px;
  display: block;
  font-family: "Source Code Pro";
  font-weight: bolder;
}

.header .site-affilation .position {
  /* color: #a00; */
   font-size: 20px;
  /* display: block; */
  font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}

.header .site-affilation nav {
  margin: 0;
  padding: 0;
  border: none;
}

.header .site-affilation nav ul svg {
  /*max-height: 20px;*/
}

/* header for projects */
.header .logo {
  display: block;
  margin-top: 2%;
  margin-bottom: -2%;
  margin-left: auto;
  margin-right: auto;
  max-width: 10%;
  height: auto;
}

.page_title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
  margin-top: 10%;
  display: block;
}

.page_meta {
  display: block;
  font-family: "Source Code Pro";
  font-size: 14px;
}

.page_meta_icon {
  font-weight: .5em;
}

.email {
  /* color: #a00; */
  font-size: 16px;
  font-family: "Source Code Pro";
  font-weight: bolder;
}

.collaborators {
  font-size: 16px;
  /*margin-left: .9em;*/
  margin-left: 0em;
  text-indent: 0em;
  margin-top: .1em;
}

.destination {
  font-size: 15px;
  /*margin-left: .9em;*/
  margin-left: 0em;
  text-indent: 0em;
  margin-top: .1em;
  font-style: italic;
  color: #666;
}

.year {
  font-size: 20px;
  margin-bottom: -.6em;
}

.project {
  margin: .5em -.5em 0em;
}

.award {
  margin: .5em -.5em 0em;
}


.publications {
  margin-left: -.5em;
  font-size: 15pt;
}

.code_blog {
    font-family: "Source Code Pro";
    font-size: 16px;
    margin: 0em .9em 0em;
}

.blog_cv {
    font-family: "Source Code Pro";
    font-size: 20px;
    font-weight: bold;
    /* margin: 0em .9em 0em; */
}

.project_description {
 margin: .5em .9em 0em;
}

.section .section-header {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #999;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.recent-posts .posts .introduction {
  margin-bottom: 30px;
}

.recent-posts .posts .introduction .meta,
.introduction .introduction-header .meta,
.list .posts .introduction .meta {
  font-size: 0.725rem;
  color: #999;
  margin-bottom: 4px;
}

.introduction .introduction-header {
  margin-bottom: 30px;
}

.introduction .introduction-header .title {
  margin: 0;
}

.introduction .introduction-header .meta {
  padding-left: 5px;
  margin-top: 10px;
}

.list .posts .introduction .meta {
  margin-bottom: 0;
  margin-left: 5px;
}

.footer {
  text-align: right;
  font-size: 0.75em;
  color: #999;
  border-top: 1px solid #f4f4f4;
  padding: 20px 0;
  margin-top: 40px;
}

.page-title {
  margin-bottom: 0;
}

.tag-cloud {
  margin-top: 20px;
}

.tag-cloud a {
  margin-right: 15px;
}

.collaborators strong {
  text-decoration: underline;
  font-weight: inherit;
}

.social ul {
  margin-top: 1.5em;
  padding-left: 0em;
  margin-bottom: .5em;
}

.icon {
  width: 37px;
  height: 37px;
  margin-right: 1em;
  display: inline-block;
  opacity: 0.7;
}

ul a:last-child .icon {
  margin-right: 0em;
}

.icon:hover {
  opacity: 1.0;
}

.icon-url:hover {
  text-decoration: none;
}

.introduction li {
list-style-position: inside;
text-indent: -1em;
}

h4 {
  margin-top: 1.5em;
  /*margin-bottom: -.5em;*/
  margin-bottom: 0em;
}

.introduction ul .publication {
  margin-bottom: 20px;
}

.introduction a, .introduction a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-decoration-color: rgb(0,0, 255);
  /*box-shadow: inset 0 -3px #ffc773;*/
  /*box-shadow: inset 0 -2px #a00;*/
  border-bottom: 1px solid rgb(0,0, 255);
}

.introduction a:hover {
  /*background-color: #a00;*/
  /*border-bottom-color: #a00*/
  border-bottom-style: dashed;
  color: rgb(0,0, 255);
}

.code_blog a, .code_blog a:visited {
  text-decoration: none;
  border-bottom: none;
  color: rgb(0,0, 255);;
}

.code_blog a:hover {
  text-decoration: underline;
  border-bottom: none;
}


@media (max-width: 769px) {


  body {
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    /*font-size: 1rem;*/
    font-size: 1.3rem;
  }

  .container {
    margin-top: 10px;
  }

  .publications {
    font-size: 12pt;
  }

  .header-container {
    display: inline;
  }

  .profile_image {
    display: none;
  }

  .header h1 {
    text-align: center;
    margin: 0 auto;
  }

  .header .site-affilation {
    margin: 1em auto;
    display: block;
    /*width: 175px;*/
    text-align: center;
  }

  .header .social {
    margin: 0 auto;
    text-align: center;
    /*width: 280px;*/
  }

  .profile_image_small {
    display: block;
    min-width: 200px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 16px;
  }
}

::selection {
  color: #fff;
  background: rgb(0,0, 255); /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: #fff;
  background: rgb(0,0, 255); /* Gecko Browsers */
}



@media (prefers-color-scheme: dark) {
  body {
    background-color: #303030;
    color: azure;
  }

  a,
  a:hover {
    color: #66D9EF;
    text-decoration: none;
  }

  img {
    filter: grayscale(30%);
  }

  h1, h2, h3, h4, h5, h6 {
    color: azure;
  }

  .destination {
    color: #aaa;
  }

  .icon {
    filter: invert(100%);
  }

  .introduction a, .introduction a:visited {
    color: azure;
    text-decoration-color: #66D9EF;
    border-bottom: 1px solid #66D9EF;
  }

  .introduction a:hover {
    color: #66D9EF;
  }

  .code_blog a, .code_blog a:visited {
    text-decoration: none;
    border-bottom: none;
    color:  #66D9EF;
  }

  .code_blog a:hover {
    text-decoration: underline;
    border-bottom: none;
  }

  ::selection {
    color: #000;
    background: #6de8ff;
    background-color: rgb(255, 255, 255, 0.99);
  }
  ::-moz-selection {
    color: #000;
    background: #6de8ff;
    background-color: rgb(255, 255, 255, 0.99);
  }

}
